<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
  <test name="TestPurchaseOutOfStockProduct" >
    <classes>
		 <class name="testClasses.CommonActions" />
       <class name="testClasses.TestPurchaseOutOfStockProduct" />
    </classes>
  </test>
 </suite>  